<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pepper Robot Interface</title>
    <link rel="stylesheet" href="static/css/style.css">
</head>

<body>
    <img src="static/images/logo.png" class="logo" alt="Logo">
    <div class="container">
        <h1>Pepper Web Interface</h1>

        <form action="/product" method="GET" id="user-form">

            <label for="name">Enter your name:</label>
            <input type="text" id="name" name="name" placeholder="Your name..." required>

            <label for="allergy">Select an allergy:</label>
            <select id="allergy" name="allergy">
                <option value="" disabled selected>Select an allergy</option>
                <option>None</option>
                <option>Milk (Dairy)</option>
                <option>Eggs</option>
                <option>Peanuts</option>
                <option>Tree Nuts</option>
                <option>Soy</option>
                <option>Wheat</option>
                <option>Fish</option>
                <option>Shellfish</option>
                <option>Sesame</option>
                <option>Mustard</option>
                <option>Celery</option>
                <option>Lupin</option>
                <option>Sulfites</option>
                <option>Corn</option>
            </select>

            <button type="submit">Continue</button>
        </form>
    </div>
</body>
</html>
